OPENAI_API_KEY=your-api-key
LANGSMITH_ENDPOINT=your-api-key
LANGSMITH_API_KEY=your-api-key
LANGSMITH_PROJECT="your-name-project"
TAVILY_API_KEY=your-api-key

# Database configuration
DB_HOST=localhost
DB_NAME=your-name-database
DB_USER=your-user-database
DB_PASSWORD=your-password-database
DB_PORT=your-port-database